body{
    margin: 0;
}

.Danh-muc{
    background-color: rgb(67, 186, 255);
}

.danh-sach-danh-muc{
    list-style: none;
    margin: 0;
    margin-left: 55px;
    display: flex;
    padding: 10px;
    gap: 30px;
    align-items: center;
    font-size: 17px;
}

.lien-ket-muc{
    text-decoration-line: none;
    color:white;
}

.lien-ket-muc:hover{
    background-color: rgb(67, 186, 255);
    color: grey;
}

.avatar{
    width: 250px;
    height: 45px;
    margin-left: auto;
}

main{
    display:flex;
    height: 100vh;
    overflow: hidden;
}

.khoi-trai{
    width: 22%;
    height: 100vh; 
    background-color: rgb(25, 25, 25);
    border-right: 2px solid rgb(67, 186, 255);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.nen-menu{
    background-color: rgb(25, 25, 25);
}

.danh-sach-menu{
    list-style: none;
    margin-top: 10px;
}

.lien-ket-menu{
    color: rgb(67, 186, 255);
    text-decoration-line: none;
    display: block;
    border-bottom: 1px solid rgb(67, 186, 255);
    padding: 15px 15px;
    font-size: 17px;
}

.lien-ket-menu:hover{
    background-color: rgb(67, 186, 255);
    color: white;
}

.menu{
    border-bottom: 1px solid rgb(67, 186, 255);
}

.logo{
    margin: 55px 60px;
    width: 200px;
}

.khoi-phai{
    width: 78%;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    overflow-y: auto ;
    overflow-x: hidden;
    box-sizing: border-box;
}

.tkb{
    width: 95%;
    height: 1100px;
    border: 1px solid rgb(67, 186, 255);
    border-radius: 10px;
    margin: 20px auto;
    color: white;
}

.tieu-de{
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(67, 186, 255);
}

.cac-option {
    display: flex;
    flex-wrap: wrap;
}

.cac-option select {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(25, 25, 25);
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

.cac-option select:last-child {
    width: 51%;
}

.bang-tkb{
    width: 98%;
    margin: 20px 10px;
    border: 1px solid rgb(67, 186, 255);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.thoi-khoa-bieu{
    width: 100%;
    border-collapse: collapse;
}

.thoi-khoa-bieu th, .thoi-khoa-bieu td{
    border: 1px solid  rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}

.tien-trinh{
    width: 95%;
    height: 690px;
    border: 1px solid rgb(67, 186, 255);
    border-radius: 10px;
    margin: 20px auto;
    color: white;
}

.anh-tien-trinh{
    width: 95%;
    height: 600px;
    margin: 20px auto;
    display: block;
}